## This script cleans the data in the newly created formatted_data.csv. We check for missing values, data types, consistency of responses, normality and duplicate responses.
## We also check the ISO country codes to see if they are valid and reverse code the following items since they negatively load on their personality factor: 
#### E2, E4, E6, E8, E10
#### N2, N4 
#### A1, A3, A5, A7
#### C2, C4, C8
#### O2, O4, O6

In [2]:
import pandas as pd
import pycountry
df = pd.read_csv("C:/Users/chich/Desktop/BIG5 Personality Project/formatted_data.csv")


#check missing values
missing_values = df.isnull().sum()

print(missing_values)

race       0
age        0
engnat     0
gender     0
hand       0
source     0
country    9
E1         0
E2         0
E3         0
E4         0
E5         0
E6         0
E7         0
E8         0
E9         0
E10        0
N1         0
N2         0
N3         0
N4         0
N5         0
N6         0
N7         0
N8         0
N9         0
N10        0
A1         0
A2         0
A3         0
A4         0
A5         0
A6         0
A7         0
A8         0
A9         0
A10        0
C1         0
C2         0
C3         0
C4         0
C5         0
C6         0
C7         0
C8         0
C9         0
C10        0
O1         0
O2         0
O3         0
O4         0
O5         0
O6         0
O7         0
O8         0
O9         0
O10        0
dtype: int64

#### Remove rows with the 9 missing values for country since we can't substitute any other value for it and removing 9 data points does not significantly affect sample size.

In [3]:
#Remove rows with the 9 missing values for country since we cant substitute any other value and removing 9 data points isn't significant here

df = df.dropna(subset=["country"])
df.isnull().sum()

race       0
age        0
engnat     0
gender     0
hand       0
source     0
country    0
E1         0
E2         0
E3         0
E4         0
E5         0
E6         0
E7         0
E8         0
E9         0
E10        0
N1         0
N2         0
N3         0
N4         0
N5         0
N6         0
N7         0
N8         0
N9         0
N10        0
A1         0
A2         0
A3         0
A4         0
A5         0
A6         0
A7         0
A8         0
A9         0
A10        0
C1         0
C2         0
C3         0
C4         0
C5         0
C6         0
C7         0
C8         0
C9         0
C10        0
O1         0
O2         0
O3         0
O4         0
O5         0
O6         0
O7         0
O8         0
O9         0
O10        0
dtype: int64

#### Check datatypes

In [4]:

for i in df.columns:
    print(f"datatype of column: {i} is {df[i].dtype}")
#All seem to be the datatypes we would expect

datatype of column: race is int64
datatype of column: age is int64
datatype of column: engnat is int64
datatype of column: gender is int64
datatype of column: hand is int64
datatype of column: source is int64
datatype of column: country is object
datatype of column: E1 is int64
datatype of column: E2 is int64
datatype of column: E3 is int64
datatype of column: E4 is int64
datatype of column: E5 is int64
datatype of column: E6 is int64
datatype of column: E7 is int64
datatype of column: E8 is int64
datatype of column: E9 is int64
datatype of column: E10 is int64
datatype of column: N1 is int64
datatype of column: N2 is int64
datatype of column: N3 is int64
datatype of column: N4 is int64
datatype of column: N5 is int64
datatype of column: N6 is int64
datatype of column: N7 is int64
datatype of column: N8 is int64
datatype of column: N9 is int64
datatype of column: N10 is int64
datatype of column: A1 is int64
datatype of column: A2 is int64
datatype of column: A3 is int64
datatype of column: A4 is int64
datatype of column: A5 is int64
datatype of column: A6 is int64
datatype of column: A7 is int64
datatype of column: A8 is int64
datatype of column: A9 is int64
datatype of column: A10 is int64
datatype of column: C1 is int64
datatype of column: C2 is int64
datatype of column: C3 is int64
datatype of column: C4 is int64
datatype of column: C5 is int64
datatype of column: C6 is int64
datatype of column: C7 is int64
datatype of column: C8 is int64
datatype of column: C9 is int64
datatype of column: C10 is int64
datatype of column: O1 is int64
datatype of column: O2 is int64
datatype of column: O3 is int64
datatype of column: O4 is int64
datatype of column: O5 is int64
datatype of column: O6 is int64
datatype of column: O7 is int64
datatype of column: O8 is int64
datatype of column: O9 is int64
datatype of column: O10 is int64

#### Check for missing values labeled as "0" and whether all the values in the columns are within the ranges they should be in

In [5]:


column_ranges = {
    'race' : (1,13),
    'age' : (18,100),
    'engnat' : (1,2),
    'gender' : (1,2),
    'hand' : (1,3),
    'source' : (1,5),
    

}
    

def checkOutliers(df, column_ranges):
    outlier_counts = {}
    for colName, (minNumber, maxNumber) in column_ranges.items():
        count = df[(df[colName] < minNumber) | (df[colName] > maxNumber)].shape[0]
        outlier_counts[colName] = count
    return outlier_counts



outlier_counts = checkOutliers(df, column_ranges)

for name, count in outlier_counts.items():
    print(f"Column {name} has this many outliers: {count}")

Column race has this many outliers: 153
Column age has this many outliers: 4056
Column engnat has this many outliers: 70
Column gender has this many outliers: 126
Column hand has this many outliers: 100
Column source has this many outliers: 0

#### We can see there are some outliers in almost all of the columns. In our case, since our codebook specifically specifies that all values must be within the ranges in column_ranges this means that these are almost certainly all either 0 or some other absurd value. We will now remove these rows.

#### We also need to make sure that for all the personality items from E1 all the way to O10, only values between 1 and 5 are considered legitimate. This is from the 8th to the 57th column

In [6]:
#We will use this function to return a new dataframe without those outlier values.

def remove_outliers(df, column_ranges):
    clean_df = df.copy()
    for colName, (minNum, maxNum) in column_ranges.items():
        clean_df = clean_df[(clean_df[colName] >= minNum) & (clean_df[colName] <= maxNum)]
    return clean_df

cleaned_df = remove_outliers(df, column_ranges)





column_names = cleaned_df.columns[7:58]

def remove_outliers_personalityItems(df, column_names, minVal, maxVal):
    cleaned_df = df.copy()
    for colName in column_names:
        cleaned_df = cleaned_df[(cleaned_df[colName] >= minVal) & (cleaned_df[colName] <= maxVal)]
    return cleaned_df

cleaned_df = remove_outliers_personalityItems(cleaned_df, column_names, 1,5)

#reindex dataframe rows
cleaned_df = cleaned_df.reset_index(drop=True)
print(cleaned_df)

       race  age  engnat  gender  hand  source country  E1  E2  E3  ...  O1  \
0         3   53       1       1     1       1      US   4   2   5  ...   4
1        13   46       1       2     1       1      US   2   2   3  ...   3
2         3   19       2       2     1       1      RO   2   5   2  ...   4
3        11   25       2       2     1       2      US   3   1   3  ...   3
4        13   31       1       2     1       2      US   1   5   2  ...   4
...     ...  ...     ...     ...   ...     ...     ...  ..  ..  ..  ...  ..
15337    13   18       1       2     1       1      US   1   4   3  ...   3
15338     3   19       1       2     1       3      US   4   1   5  ...   2
15339     3   26       1       1     1       2      US   1   5   2  ...   2
15340     3   37       1       2     1       2      US   2   3   2  ...   1
15341     3   35       1       1     1       1      US   2   3   1  ...   5

       O2  O3  O4  O5  O6  O7  O8  O9  O10
0       1   3   1   5   1   4   2   5    5
1       3   3   3   2   3   3   1   3    2
2       3   5   2   4   2   5   2   5    5
3       1   1   1   3   1   3   1   5    3
4       2   1   3   3   5   5   4   5    3
...    ..  ..  ..  ..  ..  ..  ..  ..  ...
15337   2   3   1   3   1   3   4   5    4
15338   2   5   1   4   1   4   2   3    5
15339   2   2   2   3   3   3   1   5    3
15340   2   3   2   3   3   4   2   3    3
15341   1   5   1   4   1   5   5   5    5

[15342 rows x 57 columns]

#### We would need to reverse code the following items if it wasn't accounted for during data collection:
##### E2, E4, E6, E8, E10
##### N2, N4 
##### A1, A3, A5, A7
##### C2, C4, C8
##### O2, O4, O6

#### The reason for this is best illustrated by a simple example:
#### Consider the question associated with the responses for E2(2nd question measuring extraversion) : "I don't talk a lot."
#### It is easy to see that people who strongly agree with this statement, as indicated by the number 5 on the likert scale, would mean that they are less extraverted, all else begin equal, compared to people who strongly disagree with this statement.

#### It is important that all items are consistent in the direction they measure their respective constructs such as Extraversion, Openness etc. for factor analysis(which we will perform later) to be mathematically sound. Reverse coding items ensures that all items are consistent in their directionality. In our case this means higher scores on any of the 5 constructs will always be associated with higher levels of that construct.

#### NOTE: When our data was collected, this was already accounted for so no reverse coding is necessary

In [7]:


reverse_column_names = ['E2', 'E4', 'E6', 'E8', 'E10', 'N2', 'N4', 'A1', 'A3', 'A5', 'A7', 'C2', 'C4', 'C8', 'O2', 'O4', 'O6']



def reverse_code(df, column_names):
    max_possible_value = 5
    new_df = df.copy()
    for col_name in column_names:
        new_df[col_name] = max_possible_value + 1 - new_df[col_name]
    return new_df

#cleaned_df_with_reverseCoding = reverse_code(cleaned_df, reverse_column_names)

#Check all the columns we changed

#print(cleaned_df_with_reverseCoding[reverse_column_names])
print(cleaned_df[reverse_column_names])

       E2  E4  E6  E8  E10  N2  N4  A1  A3  A5  A7  C2  C4  C8  O2  O4  O6
0       2   2   1   3    1   5   5   1   1   2   1   1   1   1   1   1   1
1       2   3   3   5    5   3   2   1   3   4   2   1   2   1   3   3   3
2       5   4   4   4    5   4   2   2   4   3   3   3   5   4   3   2   2
3       1   3   1   1    5   3   4   5   3   1   1   1   3   3   1   1   1
4       5   4   3   4    5   5   5   2   3   3   3   5   3   3   2   3   5
...    ..  ..  ..  ..  ...  ..  ..  ..  ..  ..  ..  ..  ..  ..  ..  ..  ..
15337   4   4   2   4    4   3   1   1   2   3   3   2   2   2   2   1   1
15338   1   2   1   3    4   5   5   1   3   1   1   3   2   3   2   1   1
15339   5   5   4   4    5   5   2   1   1   2   3   2   3   1   2   2   3
15340   3   3   3   4    4   4   4   2   2   2   2   3   2   2   2   2   3
15341   3   5   3   2    4   2   2   3   2   3   3   3   4   3   1   1   1

[15342 rows x 17 columns]

#### Check valid country codes and store them

In [8]:
valid_countries = [country.alpha_2 for country in pycountry.countries]
valid_countries

['AW',
 'AF',
 'AO',
 'AI',
 'AX',
 'AL',
 'AD',
 'AE',
 'AR',
 'AM',
 'AS',
 'AQ',
 'TF',
 'AG',
 'AU',
 'AT',
 'AZ',
 'BI',
 'BE',
 'BJ',
 'BQ',
 'BF',
 'BD',
 'BG',
 'BH',
 'BS',
 'BA',
 'BL',
 'BY',
 'BZ',
 'BM',
 'BO',
 'BR',
 'BB',
 'BN',
 'BT',
 'BV',
 'BW',
 'CF',
 'CA',
 'CC',
 'CH',
 'CL',
 'CN',
 'CI',
 'CM',
 'CD',
 'CG',
 'CK',
 'CO',
 'KM',
 'CV',
 'CR',
 'CU',
 'CW',
 'CX',
 'KY',
 'CY',
 'CZ',
 'DE',
 'DJ',
 'DM',
 'DK',
 'DO',
 'DZ',
 'EC',
 'EG',
 'ER',
 'EH',
 'ES',
 'EE',
 'ET',
 'FI',
 'FJ',
 'FK',
 'FR',
 'FO',
 'FM',
 'GA',
 'GB',
 'GE',
 'GG',
 'GH',
 'GI',
 'GN',
 'GP',
 'GM',
 'GW',
 'GQ',
 'GR',
 'GD',
 'GL',
 'GT',
 'GF',
 'GU',
 'GY',
 'HK',
 'HM',
 'HN',
 'HR',
 'HT',
 'HU',
 'ID',
 'IM',
 'IN',
 'IO',
 'IE',
 'IR',
 'IQ',
 'IS',
 'IL',
 'IT',
 'JM',
 'JE',
 'JO',
 'JP',
 'KZ',
 'KE',
 'KG',
 'KH',
 'KI',
 'KN',
 'KR',
 'KW',
 'LA',
 'LB',
 'LR',
 'LY',
 'LC',
 'LI',
 'LK',
 'LS',
 'LT',
 'LU',
 'LV',
 'MO',
 'MF',
 'MA',
 'MC',
 'MD',
 'MG',
 'MV',
 'MX',
 'MH',
 'MK',
 'ML',
 'MT',
 'MM',
 'ME',
 'MN',
 'MP',
 'MZ',
 'MR',
 'MS',
 'MQ',
 'MU',
 'MW',
 'MY',
 'YT',
 'NA',
 'NC',
 'NE',
 'NF',
 'NG',
 'NI',
 'NU',
 'NL',
 'NO',
 'NP',
 'NR',
 'NZ',
 'OM',
 'PK',
 'PA',
 'PN',
 'PE',
 'PH',
 'PW',
 'PG',
 'PL',
 'PR',
 'KP',
 'PT',
 'PY',
 'PS',
 'PF',
 'QA',
 'RE',
 'RO',
 'RU',
 'RW',
 'SA',
 'SD',
 'SN',
 'SG',
 'GS',
 'SH',
 'SJ',
 'SB',
 'SL',
 'SV',
 'SM',
 'SO',
 'PM',
 'RS',
 'SS',
 'ST',
 'SR',
 'SK',
 'SI',
 'SE',
 'SZ',
 'SX',
 'SC',
 'SY',
 'TC',
 'TD',
 'TG',
 'TH',
 'TJ',
 'TK',
 'TM',
 'TL',
 'TO',
 'TT',
 'TN',
 'TR',
 'TV',
 'TW',
 'TZ',
 'UG',
 'UA',
 'UM',
 'UY',
 'US',
 'UZ',
 'VA',
 'VC',
 'VE',
 'VG',
 'VI',
 'VN',
 'VU',
 'WF',
 'WS',
 'YE',
 'ZA',
 'ZM',
 'ZW']

In [9]:
#apply function to check whether country codes are valid
cleaned_df['is_code_valid'] = cleaned_df['country'].apply(lambda a: a in valid_countries)

In [10]:
cleaned_df

,race,age,engnat,gender,hand,source,country,E1,E2,E3,...,O2,O3,O4,O5,O6,O7,O8,O9,O10,is_code_valid
0,3,53,1,1,1,1,US,4,2,5,...,1,3,1,5,1,4,2,5,5,True
1,13,46,1,2,1,1,US,2,2,3,...,3,3,3,2,3,3,1,3,2,True
2,3,19,2,2,1,1,RO,2,5,2,...,3,5,2,4,2,5,2,5,5,True
3,11,25,2,2,1,2,US,3,1,3,...,1,1,1,3,1,3,1,5,3,True
4,13,31,1,2,1,2,US,1,5,2,...,2,1,3,3,5,5,4,5,3,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15337,13,18,1,2,1,1,US,1,4,3,...,2,3,1,3,1,3,4,5,4,True
15338,3,19,1,2,1,3,US,4,1,5,...,2,5,1,4,1,4,2,3,5,True
15339,3,26,1,1,1,2,US,1,5,2,...,2,2,2,3,3,3,1,5,3,True
15340,3,37,1,2,1,2,US,2,3,2,...,2,3,2,3,3,4,2,3,3,True
15341,3,35,1,1,1,1,US,2,3,1,...,1,5,1,4,1,5,5,5,5,True

In [11]:
#351 country codes are not valid or unrecognizable so we should remove those rows

(~cleaned_df['is_code_valid']).sum()

351

#### Remove rows with invalid country codes

In [12]:
valid_df = cleaned_df[cleaned_df['is_code_valid']]

(~valid_df['is_code_valid']).sum()

0

#### Export the cleaned data to a csv file

In [13]:
#export out final cleaned df to csv

valid_df.to_csv("C:/Users/chich/Desktop/BIG5 Personality Project/cleaned_data.csv", index = False)